#taskname
{
  width: auto;
  height: auto;
}
#add
{
  width: 30px;
  height: 30px ;
  float: right;
  background-color: #ed7a11;
} 
.tasks
{
  display: flex;
  flex-direction: row;
  height: 15px;
}
.input
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todo-container
{
  align-self: start;
}
.done-container
{
  align-self: start;
}
